.header{
    text-align:center;
    background-color: bisque;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
}

.recipes{
display: inline;
background-color:bisque;
text-align: center;
margin: 20px auto;
;



}