.header{
    text-align:center;
    background-color: bisque;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
}

.recipe-box{
    margin: 0px auto;
    max-width: 500px;
}
.recipes{
display: block;
background-color:bisque;
text-align: center;
margin: 30px auto;
padding: 20px;
}